<h1 class="grey-copy"> Zachariah Kaskas</h1>

<figure>
    <img src="{{site.baseurl}}img/picofmeee.jpg" alt="ZACH"width="200">
 <ul>   
     <li>    <i><i class="fab fa-instagram"></i></i></li>
     <li>    <i><i class="fab fa-facebook"></i></i></li>
     <li>
        <i><i class="fab fa-github"></i></i></li>
 </ul>


</figure>

<p class="grey-copy">
    Hey! My name is Zach Kaskas! I really like the color yellow! HTML is HARD!!!! well... maybe not. But anyway I enjoy riding my skateboard, making music with friends, and all around just enjoying the time we have! I want to get better at html! HELP MEEEEE HAHAHAHAHAHA. No seriously I panic abit at the thought of starting a new page. But I got this! WE got this!


</p>