---
---

body,html {
    background-color: rgb(435,346,169);

    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {font-family: 'Roboto Condensed', sans-serif;
}

ul{
    text-align: center
}


i{
    font-size:70px; 
    color: blue
}



#content-wrapper{
    width:600px;
    margin:0 auto;
}



img {
    display: block; 
    margin:0 auto;
    border:5px solid white;
    border-radius: 300px

}


ul > li {
    display: inline;
    margin: 0 5px 0 5px;
    width:300px;
    margin: 0 auto;

}

p{
    color:grey;
}

.grey-copy{
    color:grey;
}

#content-wrapper{
    width:600px;
}

